<%= form_for([@game, @genre]) do |f| %>
  <ul>
  <% @genre.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, list: "genres" %>
    <datalist id="genres">
      <%Genre.all.each do |genre|%>
        <option value=<%=genre.name%>>
      <%end%>
    </datalist>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>