<%reviews.each do |review|%>
  <div class="card review-card">
    <h3 class="review-title"><%=review.title%></h3>
    <p class="review-author">By <span><%=review.user.username%></span> on <%=review.created_at.strftime("%B %e, %Y")%></p>
    <p class="review-body"><%=review.body%></p>
    <div class="button-group">
      <%=link_to "Edit this Review", edit_game_review_path(@game, review), class: "edit-game" %>
      <%=link_to "Delete this Review", game_review_path(@game, review), method: :delete, class: "delete-game", data: { confirm: "Really delete the review?" } %>
    </div>
  </div>
<%end%>