<!DOCTYPE html>
<html>
  <head>
    <title>CriticxAlphaViews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="wrapper">
      <%=render partial: "/header"%>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <main>
        <%= yield %>
      </main>
      <%=render partial: "/footer"%>
    </div>
  </body>
</html>
